* {
  margin: 0;
  padding: 0;
}

.Navbar {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.Navbar h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: white;
}

.memeComponent {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
  margin-top: 40px;
}

.memeComponent button {
  height: 40px;
  border: none;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  border-radius: 5px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.inputDiv {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.inputDiv input {
  height: 35px;
  width: 40%;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
}

.meme {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  position: relative;
}

.topText {
  display: flex;
  justify-content: center;
  width: 50%;
  height: fit-content;
  top: 10px;
  left: auto;
  position: absolute;
  font-family: 'Impact';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  color: white;
  text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottomText {
  display: flex;
  justify-content: center;
  bottom: 10px;
  position: absolute;
  font-family: 'Impact';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  color: white;
  text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
}

.memeImage {
  width: 100%;
  height: auto;
}

@media only screen and (max-width:470px) {
  .Navbar {
    padding-left: 5px;
    padding-right: 5px;
  }
}